@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: "Play Fair";
  font-weight: 400;
  font-style: normal;
  src: url("../public/assets/fonts/PlayfairDisplay-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Play Fair";
  font-weight: 500;
  font-style: normal;
  src: url("../public/assets/fonts/PlayfairDisplay-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "Play Fair";
  font-weight: 400;
  font-style: italic;
  src: url("../public/assets/fonts/PlayfairDisplay-MediumItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Play Fair";
  font-weight: 600;
  font-style: normal;
  src: url("../public/assets/fonts/PlayfairDisplay-SemiBold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Play Fair";
  font-weight: 600;
  font-style: italic;
  src: url("../public/assets/fonts/PlayfairDisplay-SemiBoldItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Play Fair";
  font-weight: 700;
  font-style: normal;
  src: url("../public/assets/fonts/PlayfairDisplay-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Play Fair";
  font-weight: 700;
  font-style: italic;
  src: url("../public/assets/fonts/PlayfairDisplay-BoldItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Play Fair";
  font-weight: 800;
  font-style: normal;
  src: url("../public/assets/fonts/PlayfairDisplay-ExtraBold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Play Fair";
  font-weight: 800;
  font-style: italic;
  src: url("../public/assets/fonts/PlayfairDisplay-ExtraBoldItalic.woff2")
    format("woff2");
}
